@import "var.scss";

* {
    font-family: $font;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    word-break: keep-all;
}

body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: $W-w-2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }