@import "./var.scss";

.register__code {
  @extend %form__container;
  background-color: $K-w;
  min-height: 100vh;

  &__logo {
    @extend %form__container;

    img {
      height: 2rem;
    }
  }

  h2 {
    @extend %tittle__h2;
    text-align: center;
    margin: 1rem auto 0.5rem auto
  }

  p {
    @extend %subtittle__p;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0px auto 2rem auto;
  }

  &__form {
    @extend %form__content;

    input,
    select {
      @extend %input__forms;
    }

    select {
        color: rgba($color: #808181, $alpha: 1);
        padding-left: 7px;
        border-right: 7px transparent solid;
    }

    input:focus {
      border-bottom-color: $W-g;
    }

    &-inputs {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        max-width: 300px;
        column-gap: 0.7rem;
        margin-bottom: 2rem;

        &-input {
            padding: auto;
            text-align: center
        }
    }

    button {
      @extend %button__forms;
    }

    button:hover {
      background-color: $W-g-2;
    }
  }

  &__options {
    @extend %form__options;

    a {
      @extend %link;
      text-align: center;
    }

    a:hover {
      color: $W-g-2;
    }
  }
}
